<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GesticketsB4_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Liste</servlet-name>
    <servlet-class>servlets.ListeUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Liste</servlet-name>
    <url-pattern>/liste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consulter</servlet-name>
    <servlet-class>servlets.Consulter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consulter</servlet-name>
    <url-pattern>/consulter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>servlets.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>dao.InitialisationDaoFactory</listener-class>
</listener>
</web-app>