<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GesticketsB4_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreationUtilisateur</servlet-name>
    <servlet-class>servlets.CreationUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationUtilisateur</servlet-name>
    <url-pattern>/creationUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <servlet-class>servlets.ModificationUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <url-pattern>/modificationUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <servlet-class>servlets.ListeUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <url-pattern>/listeUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppressionUtilisateur</servlet-name>
    <servlet-class>servlets.SuppressionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionUtilisateur</servlet-name>
    <url-pattern>/suppressionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeTickets</servlet-name>
    <servlet-class>servlets.ListeTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTickets</servlet-name>
    <url-pattern>/listeTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterTicket</servlet-name>
    <servlet-class>servlets.AjouterTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterTicket</servlet-name>
    <url-pattern>/ajouterTicket</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>PrechargementFilter</filter-name>
  	<filter-class>filters.PrechargementFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PrechargementFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>dao.InitialisationDaoFactory</listener-class>
  </listener>
</web-app>